<br><br><br><br><div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-account-multiple"></i>
        </span> Manage Task
      </h3>
    </div>
  
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title float-left">Edit Task</h4>
  
            <br><div class="form-group">
              <br>TaskTitle:<input type="text" class="form-control form-control-lg" id="exampleInputEmail1"
                   placeholder="TaskTitle" [(ngModel)]="TaskTitle"> 
             </div>

             <div class="form-group">
              StartDate:<input type="date" class="form-control form-control-lg" id="exampleInputEmail1"
                   placeholder="StartDate" [(ngModel)]="StartDate"> 
             </div>

             <div class="form-group">
              CompletionDate:<input type="date" class="form-control form-control-lg" id="exampleInputEmail1"
                   placeholder="CompletionDate" [(ngModel)]="CompletionDate">
             </div>

             <div class="form-group">
              EstimatedHour:<input type="number" class="form-control form-control-lg" id="exampleInputEmail1"
                   placeholder="EstimatedHour" [(ngModel)]="EstimatedHour"> 
             </div>

             <div class="form-group">
              UtilizedHour:<input type="number" class="form-control form-control-lg" id="exampleInputEmail1"
                   placeholder="UtilizedHour" [(ngModel)]="UtilizedHour"> 
             </div>

             <div class="form-group">
                  Status: <select [(ngModel)]="Status" class="form-control">
                  <option>Select Status</option>
                  <option *ngFor="let s of Statuses"  value="{{s._id}}">{{s.statusName}}</option>
                </select><br><br>
             </div>

            <button class="btn btn-success" (click)="updateTask()">Update</button>
            <br><br>
            
          </div>
        </div>
      </div>
  
    </div>
    <br><br><BR><br><br>
    <br><br><BR><br><br>
    <br><br><BR><br><br>
  </div>
  